<header>

  <nav class="indigo" role="navigation">

    <div class="nav-wrapper">
      <span style="padding-left:25px;">Os melhores preços para o seu bolso.</span>
      <ul style="padding-right:5px;" class="right">

        <li>
          <span>versão beta</span>
        </li>
        <li>
          <a class='right dropdown-button' href='' data-activates='user_dropdown'><i class=' material-icons'>build</i></a>
        </li>
      </ul>

    </div>
  </nav>

</header>
