<footer class="indigo page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h5 class="white-text">Onde estamos?</h5>
        <ul id='credits'>
          <li>R. Duque Estrada, 41 - Gávea, Rio de Janeiro - RJ, 22451-090, Brasil</li>
          <li>Tel: (21) 99761-9232</li>
          <li>contato@kemamercados.com</li>
        </ul>
      </div>
      <div class="col s6">
        <i class="large material-icons">location_on</i>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
       <span>© 2018 by <a style='font-weight: bold;' href="https://www.kemamercados.com/" target="_blank">Kema</a> ::beta</span>
    </div>
  </div>
</footer>
