<div style="padding-left: 15px;" class="row">
  <div class="col s12"><h3>NOSSA<br /> HISTÓRIA</h3></div>

  <div class="col s6">
    <div class="row">
      <div class="col s12">
        <p class="flow-text">Pensando em poupar o tempo dos administradores de escritórios, nós criamos uma plataforma que você pode mandar sua lista de compras de modo rápido e prático.</p>
      </div>
    </div>

    <div class="row">

      <div class="col s3 center-align">
        <i class="large indigo-text material-icons">monetization_on</i>
        <p class="flow-text">Economize mais!</p>
      </div>
      <div class="col s3 offset-s1 center-align">
        <i class="large indigo-text material-icons">restore</i>
        <p class="flow-text">Poupe tempo e esforço!</p>
      </div>
      <div class="col s3 offset-s1 center-align">
        <i class="large indigo-text material-icons">trending_up</i>
        <p class="flow-text">Receba em produtividade!</p>
      </div>

    </div>
    <div class="row">
      <div class="col s12">
        <h3>NOSSO<br /> TRABALHO</h3>
      </div>
      <div class="col s12">
        <p class="flow-text">Para te ajudar, nós criamos um programa que além de administrar seus gastos semanais ou mensais, economizará seu tempo na procura e na compra de suprimentos de todos os tipos para seu empresa.</p>
        <p class="flow-text">Nós da Kema facilitamos a sua compra e resolvemos o seu problema da procura de suprimentos de seu escritório.</p>
        <p class="flow-text">Nosso primeiro trabalho resume-se na cotação dos produtos utilizados pela sua empresa, e logo em seguida na negociação dos custos, apresentando a margem de gastos que sempre terá.</p>
        <p class="flow-text">Combinaremos uma data específica para a realização da entrega dos produtos previamente cotados.</p>
      </div>
    </div>
  </div>

  <div class="col s6"><img src="assets/img/page/offers.jpg" alt="" class="circle"></div>
</div>
