<ul id="slide-out" class="side-nav fixed z-depth-2">
  <li class="center no-padding">
    <div class="indigo darken-2 white-text" style="height: 200px;">
      <div class="row">
        <img style="margin-top: 5%;" width="100" height="100" src="assets/img/kema.png" class="responsive-img" />

        <p style="margin-top: -13%;">
          Melhor Oferta
        </p>
      </div>
    </div>
  </li>

  <li id="dash_dashboard"><a class="waves-effect" href="/"><b>Home</b></a></li>
  <li id="dash_about"><a class="waves-effect" href="/sobre"><b>Sobre</b></a></li>
</ul>
