<ul class="collection">
  <li class="collection-header"><img src="assets/img/products/stationary/folhas-a4.jpg" alt="" class="circle"></li>
  <li class="collection-item">
    <app-providers></app-providers>
  </li>
  <li class="collection-item">
    <div>
      ASSAÍ - São Cristóvão Tel.: (21) 2335-3655<a href="#!" class="secondary-content"><i class="material-icons">attach_money</i></a>
    </div>
  </li>
  <li class="collection-item">
    <div>
      MACRO - Vicente Carvalho Tel.: (21) 2225-0015<a href="#!" class="secondary-content"><i class="material-icons">attach_money</i></a>
    </div>
  </li>
</ul>
