/* You can add global styles to this file, and also import other style files */
header,
main,
footer {
  padding-left: 240px;
}

body {
  backgroud: white;
}

li {
  overflow: auto;
}

div.row a div.col{
  min-width: 222px !important;
}

@media screen and (min-width: 500px) and (max-width: 1500px) {

  header,
  main,
  footer {
      padding-left: 150px !important;
  }

  #slide-out {
      width: 150px !important;
  }

  .row .col.offset-s1 {
      margin-left: 1.333333% !important;
  }
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

#slide-out {
  width: 240px;
}

#credits li,
#credits li a {
  color: white;
}

#credits li a {
  font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
  color: #BCC2E2;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}

.waves-effect img {
  position: inherit !important;
}
