<div class="row">
  <div class="col s12">
    <div style="padding: 35px;" align="center" class="card">

      <div class="row">
        <div class="left card-title">
          <b>Promoções</b>
        </div>
      </div>

      <!-- INICIO::LINHA 1 -->
      <div class="row">
        <a href="#!">
          <div style="padding: 30px;" class="grey lighten-3 col s2 waves-effect">

            <!-- INICIO::ITEM PRODUTO -->
            <ul class="collection">
              <li class="collection-header"><img src="assets/img/products/stationary/folhas-a4.jpg" alt="" class="circle" /></li>

              <!-- INICIO::LISTA DE FORNECEDORES -->
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 2225-3655">
                <ul>
                  <li><img src="assets/img/providers/macro.png" alt="" /></li>
                  <li>MACRO - Grajaú</li>
                  <li><span class="new badge" data-badge-caption=" 18,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3685-3655">
                <ul>
                  <li><img src="assets/img/providers/assai.png" alt="" /></li>
                  <li>ASSAÍ - São Cristóvão</li>
                  <li><span class="new badge orange" data-badge-caption=" 19,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3885-3655">
                <ul>
                  <li><img src="assets/img/providers/makro.png" alt="" /></li>
                  <li>MAKRO - Irajá</li>
                  <li><span class="new badge red" data-badge-caption=" 21,99">R$</span></li>
                </ul>
              </li>
              <!-- FIM::LISTA DE FORNECEDORES -->
            </ul>
            <!-- FIM::ITEM PRODUTO-->

          </div>
        </a>

        <a href="#!">
          <div style="padding: 30px;" class="grey lighten-3 col s2 offset-s1 waves-effect">

            <!-- INICIO::ITEM PRODUTO -->
            <ul class="collection">
              <li class="collection-header"><img src="assets/img/products/stationary/folhas-a4.jpg" alt="" class="circle" /></li>

              <!-- INICIO::LISTA DE FORNECEDORES -->
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 2225-3655">
                <ul>
                  <li><img src="assets/img/providers/macro.png" alt="" /></li>
                  <li>MACRO - Grajaú</li>
                  <li><span class="new badge" data-badge-caption=" 18,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3685-3655">
                <ul>
                  <li><img src="assets/img/providers/assai.png" alt="" /></li>
                  <li>ASSAÍ - São Cristóvão</li>
                  <li><span class="new badge orange" data-badge-caption=" 19,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3885-3655">
                <ul>
                  <li><img src="assets/img/providers/makro.png" alt="" /></li>
                  <li>MAKRO - Irajá</li>
                  <li><span class="new badge red" data-badge-caption=" 21,99">R$</span></li>
                </ul>
              </li>
              <!-- FIM::LISTA DE FORNECEDORES -->
            </ul>
            <!-- FIM::ITEM PRODUTO-->

          </div>
        </a>

        <a href="#!">
          <div style="padding: 30px;" class="grey lighten-3 col s2 offset-s1 waves-effect">

            <!-- INICIO::ITEM PRODUTO -->
            <ul class="collection">
              <li class="collection-header"><img src="assets/img/products/stationary/folhas-a4.jpg" alt="" class="circle" /></li>

              <!-- INICIO::LISTA DE FORNECEDORES -->
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 2225-3655">
                <ul>
                  <li><img src="assets/img/providers/macro.png" alt="" /></li>
                  <li>MACRO - Grajaú</li>
                  <li><span class="new badge" data-badge-caption=" 18,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3685-3655">
                <ul>
                  <li><img src="assets/img/providers/assai.png" alt="" /></li>
                  <li>ASSAÍ - São Cristóvão</li>
                  <li><span class="new badge orange" data-badge-caption=" 19,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3885-3655">
                <ul>
                  <li><img src="assets/img/providers/makro.png" alt="" /></li>
                  <li>MAKRO - Irajá</li>
                  <li><span class="new badge red" data-badge-caption=" 21,99">R$</span></li>
                </ul>
              </li>
              <!-- FIM::LISTA DE FORNECEDORES -->
            </ul>
            <!-- FIM::ITEM PRODUTO-->

          </div>
        </a>

        <a href="#!">
          <div style="padding: 30px;" class="grey lighten-3 col offset-s1 s2 waves-effect">

            <!-- INICIO::ITEM PRODUTO -->
            <ul class="collection">
              <li class="collection-header"><img src="assets/img/products/stationary/folhas-a4.jpg" alt="" class="circle" /></li>

              <!-- INICIO::LISTA DE FORNECEDORES -->
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 2225-3655">
                <ul>
                  <li><img src="assets/img/providers/macro.png" alt="" /></li>
                  <li>MACRO - Grajaú</li>
                  <li><span class="new badge" data-badge-caption=" 18,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3685-3655">
                <ul>
                  <li><img src="assets/img/providers/assai.png" alt="" /></li>
                  <li>ASSAÍ - São Cristóvão</li>
                  <li><span class="new badge orange" data-badge-caption=" 19,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3885-3655">
                <ul>
                  <li><img src="assets/img/providers/makro.png" alt="" /></li>
                  <li>MAKRO - Irajá</li>
                  <li><span class="new badge red" data-badge-caption=" 21,99">R$</span></li>
                </ul>
              </li>
              <!-- FIM::LISTA DE FORNECEDORES -->
            </ul>
            <!-- FIM::ITEM PRODUTO-->

          </div>
        </a>
      </div>
      <!-- FIM::LINHA 1 -->

      <!-- INICIO::LINHA 2 -->
      <div class="row">
        <a href="#!">
          <div style="padding: 30px;" class="grey lighten-3 col s2 waves-effect">

            <!-- INICIO::ITEM PRODUTO -->
            <ul class="collection">
              <li class="collection-header"><img src="assets/img/products/stationary/folhas-a4.jpg" alt="" class="circle" /></li>

              <!-- INICIO::LISTA DE FORNECEDORES -->
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 2225-3655">
                <ul>
                  <li><img src="assets/img/providers/macro.png" alt="" /></li>
                  <li>MACRO - Grajaú</li>
                  <li><span class="new badge" data-badge-caption=" 18,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3685-3655">
                <ul>
                  <li><img src="assets/img/providers/assai.png" alt="" /></li>
                  <li>ASSAÍ - São Cristóvão</li>
                  <li><span class="new badge orange" data-badge-caption=" 19,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3885-3655">
                <ul>
                  <li><img src="assets/img/providers/makro.png" alt="" /></li>
                  <li>MAKRO - Irajá</li>
                  <li><span class="new badge red" data-badge-caption=" 21,99">R$</span></li>
                </ul>
              </li>
              <!-- FIM::LISTA DE FORNECEDORES -->
            </ul>
            <!-- FIM::ITEM PRODUTO-->

          </div>
        </a>

        <a href="#!">
          <div style="padding: 30px;" class="grey lighten-3 col s2 offset-s1 waves-effect">

            <!-- INICIO::ITEM PRODUTO -->
            <ul class="collection">
              <li class="collection-header"><img src="assets/img/products/stationary/folhas-a4.jpg" alt="" class="circle" /></li>

              <!-- INICIO::LISTA DE FORNECEDORES -->
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 2225-3655">
                <ul>
                  <li><img src="assets/img/providers/macro.png" alt="" /></li>
                  <li>MACRO - Grajaú</li>
                  <li><span class="new badge" data-badge-caption=" 18,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3685-3655">
                <ul>
                  <li><img src="assets/img/providers/assai.png" alt="" /></li>
                  <li>ASSAÍ - São Cristóvão</li>
                  <li><span class="new badge orange" data-badge-caption=" 19,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3885-3655">
                <ul>
                  <li><img src="assets/img/providers/makro.png" alt="" /></li>
                  <li>MAKRO - Irajá</li>
                  <li><span class="new badge red" data-badge-caption=" 21,99">R$</span></li>
                </ul>
              </li>
              <!-- FIM::LISTA DE FORNECEDORES -->
            </ul>
            <!-- FIM::ITEM PRODUTO-->

          </div>
        </a>

        <a href="#!">
          <div style="padding: 30px;" class="grey lighten-3 col s2 offset-s1 waves-effect">

            <!-- INICIO::ITEM PRODUTO -->
            <ul class="collection">
              <li class="collection-header"><img src="assets/img/products/stationary/folhas-a4.jpg" alt="" class="circle" /></li>

              <!-- INICIO::LISTA DE FORNECEDORES -->
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 2225-3655">
                <ul>
                  <li><img src="assets/img/providers/macro.png" alt="" /></li>
                  <li>MACRO - Grajaú</li>
                  <li><span class="new badge" data-badge-caption=" 18,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3685-3655">
                <ul>
                  <li><img src="assets/img/providers/assai.png" alt="" /></li>
                  <li>ASSAÍ - São Cristóvão</li>
                  <li><span class="new badge orange" data-badge-caption=" 19,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3885-3655">
                <ul>
                  <li><img src="assets/img/providers/makro.png" alt="" /></li>
                  <li>MAKRO - Irajá</li>
                  <li><span class="new badge red" data-badge-caption=" 21,99">R$</span></li>
                </ul>
              </li>
              <!-- FIM::LISTA DE FORNECEDORES -->
            </ul>
            <!-- FIM::ITEM PRODUTO-->

          </div>
        </a>

        <a href="#!">
          <div style="padding: 30px;" class="grey lighten-3 col offset-s1 s2 waves-effect">

            <!-- INICIO::ITEM PRODUTO -->
            <ul class="collection">
              <li class="collection-header"><img src="assets/img/products/stationary/folhas-a4.jpg" alt="" class="circle" /></li>

              <!-- INICIO::LISTA DE FORNECEDORES -->
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 2225-3655">
                <ul>
                  <li><img src="assets/img/providers/macro.png" alt="" /></li>
                  <li>MACRO - Grajaú</li>
                  <li><span class="new badge" data-badge-caption=" 18,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Avenida Raimundo Pereira de Magalhães 10535 - São Paulo, SP. CEP:02983-055 / Tel.: (21) 3685-3655">
                <ul>
                  <li><img src="assets/img/providers/assai.png" alt="" /></li>
                  <li>ASSAÍ - São Cristóvão</li>
                  <li><span class="new badge orange" data-badge-caption=" 19,99">R$</span></li>
                </ul>
              </li>
              <li class="collection-item tooltipped" data-position="bottom" data-tooltip="Tel.: (21) 3885-3655">
                <ul>
                  <li><img src="assets/img/providers/makro.png" alt="" /></li>
                  <li>MAKRO - Irajá</li>
                  <li><span class="new badge red" data-badge-caption=" 21,99">R$</span></li>
                </ul>
              </li>
              <!-- FIM::LISTA DE FORNECEDORES -->
            </ul>
            <!-- FIM::ITEM PRODUTO-->

          </div>
        </a>
      </div>
      <!-- FIM::LINHA 2 -->

    </div>
  </div>
</div>
